
/* Reset de CSS usando normalize.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
    background-color: #00595ace;
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");

}

header {
    text-align: center;
    margin: 20px 0;
}

.conteudo h1 {
    color: rgb(98, 0, 107);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.445);
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.conteudo{
    margin-top: 20px;
    width: 700px;
    height: auto;
    padding: 1rem;
    border-radius: 5%;
    background-color: #ffffff9c;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
